# Przykładowy plik .env dla aplikacji TravelMind

FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=twoj_sekretny_klucz
GEOAPIFY_API_KEY=769c2d70c71341e68b94d66becdf1329
GOOGLE_PLACES_API_KEY=d029d3fc97ce97347a88d2ef4cc97ce5