{% extends "base.html" %}

{% block title %}Travel Mind - Twój Inteligentny Asystent Podróży{% endblock %}

{% block content %}
    <div class="aboutus-container">
        <h2>Informacje o autorach</h2>
        <div class="aboutus-info">
            <p><strong>Kacepr Kotecki</strong> </p>
            <p><strong>Emil Górski</strong></p>
            <p><strong>Kacper Bednarek</strong></p>
            <p><strong>Weronika Kusideł</strong></p>
            <p><strong></strong></p>
            
            
        </div>
       
    </div>

 
{% endblock %} 