{% extends "base.html" %}

{% block title %}Travel Mind - Twój Inteligentny Asystent Podróży{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2>Informacje o profilu</h2>
        <div class="profile-info">
            <p><strong>Imię:</strong> {{ current_user.first_name }}</p>
            <p><strong>Nazwisko:</strong> {{ current_user.last_name }}</p>
            <p><strong>Email:</strong> {{ current_user.email }}</p>
            
        </div>
        <div class="profile-actions">
            <a href="{{ url_for('main.account') }}" class="btn btn-primary">Edytuj profil</a>
            <a href="{{ url_for('main.my_plans') }}" class="btn btn-primary">Pokaż moje plany</a>
            <a href="{{ url_for('main.logout') }}" class="btn-logout">Wyloguj się</a>
        </div>
    </div>

 
{% endblock %} 