{% extends "base.html" %}

{% block title %}Travel Mind - Twój Inteligentny Asystent Podróży{% endblock %}


{% block content %}
    <div class="register-container">
        <div class="title-register">
            <h2>Zarejestruj się do TravelMind</h2>
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control", placeholder="Imię") }}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}
                {{ form.last_name(class="form-control", placeholder="Nazwisko") }}
            </div>
             <div class="form-group">
                {{ form.phone.label }}
                {{ form.phone(class="form-control", placeholder="Wprowadź numer telefonu") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Wprowadź adres email") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Wprowadź hasło") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
{% endblock %}             

